#mommy {
	border:2px solid blue;
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	/* -webkit-box-direction:reverse; :reverse order of components in this mommy */
	width:700px;	/*Nếu thay bằng: -webkit-box-flex:1; thì nó có thể kéo dãn */
	-webkit-box-pack:center;	/*cho các con của nó ở trung tâm, có thể chuyển thành -webkit-box-pack:end */
	
}

#kid1 {
	border: 2px solid red;
	background: green;
	padding:20px;
	margin:10px;
	/*-webkit-box-ordinal-group: 3;	/*thằng kid1 ở vị trí thứ 3 */
	width:60px;
}
#kid2{
	border: 2px solid red;
	background: yellow;
	padding:20px;
	margin:10px;
	/* -webkit-box-ordinal-group: 1; */
	width:60px;
	-webkit-box-flex: 1;
}
#kid3 {
	border: 2px solid red;
	background: red;
	padding:20px;
	margin:10px;
	/* -webkit-box-ordinal-group: 4; */
	width:60px;
}
#kid4 {
	border: 2px solid red;
	background: orange;
	padding:20px;
	margin:10px;
	/* -webkit-box-ordinal-group: 2; */
	width:60px;
}
